/*                              Card                                    */
.pet-wrapper {
    margin-top: 80px;
    margin-bottom: 150px;
}

.pet-img {
    width: 600px;
    height: 600px;
    border-radius: 45px;
    margin-left: 100px;
    margin-top: 10px;
}

.bread-crisp {
    margin-left: 100px;
    color: #A1DEAF;
}

.about-pet {
    position: absolute;
    top: 200px;
    left: 770px;
}

.share-pet{
    color: #A1DEAF;
    font-size: 18px;
    margin-left: 135px;
    margin-top: 6px;
}

.share{
    width: 45px;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 66px;
}

h3 {
    font-size: 46px;
}

p {
    font-size: 32px;
    margin-top: 35px;
}

.pet-text {
    font-size: 32px;
    width: 92%;
}

.pet-adopt{
    background-color: #357A45;
    border: none;
    border-radius: 20px;
    width: 500px;
    height: 70px;
    margin-bottom: 40px;
    margin-top: 40px;
}