* {

    color: white;
}

html,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

body {
    background-color: rgba(61, 169, 86, 1);
}

a {
    text-decoration: none;
    color: inherit;
}


/*                                                        MAIN SCREEN                                         */

.cat-dog-foto {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 750px;
    margin-bottom: 10px;
    margin-top: -24px;
}

.main-window-wrapper {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 150px;
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-left: 100px;
}

.title {
    font-family: 'Philosopher';
    font-size: 55px;
}

.text-title {
    margin-top: 80px;
    font-size: 32px;
    font-family: 'Montserrat Alternates';
}

.main-button {
    margin-top: 80px;
    background-color: #357A45;
    border-radius: 40px;
    width: 500px;
    height: 90px;
    border: none;
    font-size: 32px;
    transition: all 0.3s;
}

.main-button:hover {
    background-color: #296236;
}

.carousell-wrapper {
    height: 550px;
    background-color: white;
}

/*                              OUR PETS                                     */
.our-pets-wrapper {
    margin-top: 150px;
    margin-bottom: 150px;
}

.our-pets-back-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.our-pets-back {
    width: 100%;
}

.our-pets-button {
    background-color: #80C0CE;
    width: 500px;
    height: 90px;
    border: none;
    font-size: 32px;
    transition: all 0.3s;
    border-radius: 40px;
    margin-top: -30px;
}

/*                           Finance                         */
.finance-wrapper {
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*                           Help Pets                         */


.help-our-pets-wrapper {
    margin-top: 150px;
    margin-bottom: 150px;
}

.help-our-pets-back-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.help-our-pets-back {
    width: 100%;
}

.help-our-pets-button {
    background-color: #2C2825;
    width: 500px;
    height: 90px;
    border: none;
    font-size: 32px;
    transition: all 0.3s;
    border-radius: 40px;
    position: relative;
    bottom: 185px;
}


/*                           News                          */


.news-wrapper {
    margin-top: 150px;
    margin-bottom: 150px;
}

.news-back-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.news-back {
    width: 80%;
    height: 100%;
}

.news-button {
    background-color: #357A45;
    width: 125px;
    height: 125px;
    border: none;
    font-size: 32px;
    transition: all 0.3s;
    border-radius: 50%;
    position: relative;
    bottom: 180px;
    left: 445px;
}

/*               Contact US                     */

.contact-us-wrapper{
    margin-top: 150px;
    margin-bottom: 150px;
}

.contact-us-back-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-us-back{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;

}

.contact-us{
    margin: 35px;
    width: 45%;
    height: 45%;
}