<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PetGuardians</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="/view/InterestingInfo/style.css" rel="stylesheet">
    <link href="/main-style.css" rel="stylesheet">
</head>

<body>
    <header>
        <figure class="site-logo">
            <img class="logo-img" src="/main-page-photo/label.png" alt="site-logo">
        </figure>

        <div class="site-controls">
            <div class="main-menu-wrapper">
                <nav class="main-navigation">
                    <ul class="header-menu">
                        <li><a href="/view/Main/">Головна</a></li>
                        <li><a href="/view/ChooseFriend/">Хочу друга</a></li>
                        <li><a href="/view/HowHelp/">Хочу допомогти</a></li>
                        <li><a href="/view/InterestingInfo/">Про нас</a></li>
                        <li class="dropdown">
                            <a href="/model/Account-Login">Акаунт</a>
                            <ul class="dropdown-content">
                                <li><a href="/controllers/autorize/register.php">Реєстрація</a></li>
                                <li><a href="/model/Account-Login">Вхід</a></li>
                            </ul>
                        </li>
                    </ul>

                </nav>
                <button class="burger-toggle-btn">
                </button>
            </div>
        </div>

    </header>

    <main>
        <h1 class="text-align-center">Про нас</h1>
        <div class="petstandart-item page-padding">
            <div class="content-col-2">
                <img class="content-img" src="/main-page-photo/About-us-photo.jpg" alt="">

                <div class="content-text">
                    <p>Притулок для тварин PetGuardians відданий забезпеченню турботи, захисту та
                        допомоги бездомним тваринам. Заснований у 2024 році, наш притулок має
                        багаторічний досвід у рятівництві, реабілітації та прийомі тварин, потребуючих
                        допомоги.
                    </p>
                    <p>Наша команда складається з пристрасних та досвідчених фахівців, які присвячені
                        місії допомоги тваринам. Ми розуміємо, що кожна тварина має свою власну історію
                        та потреби, і ми працюємо індивідуально з кожною, щоб забезпечити їй оптимальну
                        турботу та умови.
                    </p>
                </div>
            </div>
            <div class="petstandart-row">
                <p>Наш притулок не лише забезпечує тимчасове притулок для безпритульних тварин, але
                    й здійснює програми соціалізації, лікування та адопції. Ми віримо, що кожна
                    тварина заслуговує шансу на щасливе життя у люблячому домі, і ми працюємо
                    наполегливо, щоб знайти для кожної тварини відповідну сім'ю.
                </p>
                <p>У нашому притулку також здійснюються освітні програми для громади, спрямовані на
                    підвищення усвідомленості щодо відповідальної тваринництва та захисту тварин. Ми
                    віримо, що спільна дія може змінити ставлення до тварин і покращити їхнє
                    благополуччя.
                </p>
                <p>Приєднуйтесь до нашої місії допомоги безпритульним тваринам! Разом ми можемо
                    зробити більше для тих, хто найбільше цього потребує.
                </p>
            </div>
        </div>

        <h1 class="text-align-center">Який корм обрати для улюбленця?</h1>
        <div class="petstandart-item page-padding">
            <div class="content-col-3">
                <img class="food-img" src="/main-page-photo/eat1.png" alt="" />
                <img class="food-img" src="/main-page-photo/eat2.jpg" alt="" />
                <img class="food-img" src="/main-page-photo/eat3.png" alt="" />
            </div>
            <div>
                <p>При виборі корму в першу чергу необхідно враховувати здоров'я тварини, його переваги, схильності, ну,
                    і звичайно, породу. Слід пам'ятати, що рейтинг кормів - далеко не головний критерій при його виборі,
                    адже для когось корм певних виробників буде підходити ідеально, а у когось він може стати причиною
                    проблем зі здоров'ям. <br>
                    Види кормів: 
                <ul>
                    <li>Сухий (гранульований) корм.</li>
                </ul>
                <p>
                    Сухий корм визнаний досить збалансованим харчуванням, в якому підібрані всі необхідні організму
                    речовини: жири, білки, вуглеводи і вітаміни. Спеціально розроблені формули зберігання такого корму
                    не містять консервантів, гормонів і підсилювачів смаку і рідко викликають харчову алергію. Є корми
                    для собак та корми для котів, спеціально розроблені під певну породу, і їх склад відповідає всім
                    особливим потребам улюбленців саме цієї породи. </p>
                <ul>
                    <li>Консервований корм.</li>
                </ul>
                <p>
                    Консерви, призначені для основного харчування, мають збалансований стандартний склад. Вони підходять
                    для використання в раціоні собаки і кота кожен день. Хоча досвідчені заводчики не рекомендують
                    повністю переходити на вологий корм. Через вміст вологи такий корм втрачає частину своєї поживності
                    в порівнянні з сухим кормом, тварина гірше їм насичується. </p>
                <ul>
                    <li> Напіввологий корм.</li>
                </ul>
                <p>
                    Напіввологі корми фасуються у маленькі упаковки. Такий вид корму складається майже на 50% з води, а
                    також мають великий вміст цукру, що може призвести до ожиріння і проблем з ротовою порожниною. Такі
                    показники не підходять собаці, а для кота підходить набагато більше через особливості травлення.<br>
                    Категорії кормів:</p>
                <ul>
                    <li>
                        Корм економ класу має найнижчий рейтинг. Справа в тому, що для його виготовлення виробники
                        використовують низькосортні продукти, ароматизатори і штучні добавки. Його не рекомендується
                        вживати
                        постійно, він може викликати звикання і навіть заподіяти певної шкоди організму. Чим же гарні ці
                        корми? Відповідь проста: своєю доступністю, їх можна купити в будь-якому магазині за найнижчими
                        цінами. Правда, відгуки багатьох власників тварин, які купували корми цього класу, радять
                        ретельно
                        подумати, перш ніж вирішити заощадити на здоров'ї свого чотириногого друга. 
                    </li>
                    <li>
                        Корм преміум класу має хороший рейтинг серед покупців, що піклуються про здоров'я своїх
                        вихованців.
                        Вони досить збалансовані і містять у своєму складі мінімум штучних добавок, до того ж ці корми
                        рідко
                        викликають алергію і практично не завдають ніякої шкоди організму, для виготовлення кормів
                        преміум
                        класу використовуються натуральні компоненти - м'ясо, риба, птиця і злаки. 
                    </li>
                    <li>
                        Корм супер-преміум класу має найвищу якість, до його складу може входити яловичина, м'ясо
                        ягняти,
                        курчати і індички, лосось, а також злаки найвищих сортів. Крім того, в складі корму класу
                        «супер»
                        повністю відсутні барвники та штучні добавки, що робить їх абсолютно нешкідливими для організму
                        тварини.
                    </li>
                </ul>
                До складу кормів обов'язково повинні входити: <br> <br>
                <ul>
                    <li>Білки. Якість білків і їх процентний вміст є основною характеристикою кормів. </li>

                    <li>Жири. Під час виготовлення кормів використовуються жири тваринного походження, з високим вмістом
                        жирних кислот. Можуть також використовуватися і рослинні жири, що містяться в кукурудзі, сої і
                        т.д.</li>

                    <li>Злаки. Входять не завжди, але коричневий рис і ячмінь – це корисні злаки. Білий рис, але в ньому
                        значно менше корисних речовин. </li>
                    <li> Овес - корисний злак, однак може служити причиною розладу шлунку у
                        собаки. </li>
                    <li> Інші інгредієнти. Яйця краще у вигляді цілісного яйця, а не яєчного порошку. Добре, якщо
                        присутні в
                        складі корму фрукти, ягоди, овочі, трави, дріжджі, водорості, глюкозамін, хондроїтин, мінеральні
                        речовини, вітаміни, пробіотики – вони слугують допоміжними вітамінами. </li>
                    <li>Вуглеводи. Найбільша їх кількість міститься в злакових продуктах, картоплі і моркві </li>
                </ul>
                Пам'ятайте! Високий вміст жирів призводить до ожиріння, до захворювань  серцево-судинної системи, а
                високий вміст білка - до різних хвороб нирок. 
                Якщо сумніваєтеся у виборі - зверніться до фахівця або дізнайтесь відгуки господарів, у яких
                утримується тварина тієї ж породи, що і у вас. Адже підібравши правильний корм,
                можна забезпечити собаці збалансоване харчування, та істотно поліпшити самопочуття вихованця, адже
                хороший, якісний корм - це не тільки їжа, але і відмінна профілактика багатьох хвороб.
                </p>
            </div>
        </div>

        <h1 class="text-align-center">Стандарти утримання тварин у притулку</h1>
        <div class="petstandart-item page-padding">
            <div class="petstandart-row-2-col">
                <img class="petstandart-img" src="/main-page-photo/standarts_for_pets.jpg" alt="">
                <div class="petstandart-text">
                    <p>
                        Стандарти утримання тварин у притулку можуть варіюватися в залежності від країни, регіону або
                        місцевих законодавчих актів. Однак, основні принципи зазвичай включають в себе:<br>
                    <ol>
                        <li>Пристойні умови проживання: Тварини повинні мати чисті, сухі та безпечні приміщення. Це може
                            включати в себе відділення для сну, місце для гри та активностей, місце для відпочинку,
                            доступ
                            до
                            свіжої води та придатного харчування.
                        </li>
                        <li>Медичний догляд: Притулок повинен забезпечувати регулярний медичний огляд та необхідну
                            медичну
                            допомогу тваринам. Це включає в себе вакцинації, лікування від паразитів, стерилізацію або
                            кастрацію, якщо це потрібно, і т. д.
                        </li>
                        <li> Соціалізація і взаємодія з людьми: Тварини повинні мати можливість соціалізуватися з іншими
                            тваринами та отримувати достатньо уваги та взаємодії з людьми.
                        </li>
                    </ol>
                    </p>
                </div>
            </div>
            <div class="petstandart-row">
                <ol start="4">
                    <li>Безпека та захист: Притулок повинен забезпечувати безпеку тваринам, відділяючи агресивних
                        особин
                        від
                        інших та надаючи захист від потенційних небезпек, таких як травматичні ситуації або
                        небезпечні
                        предмети.
                    </li>
                    <li>Адекватний персонал: Притулок повинен мати достатню кількість кваліфікованих працівників,
                        які
                        здатні
                        надавати необхідний догляд та увагу тваринам.
                    </li>
                    <li>Програми адопції і реабілітації: Притулок повинен мати програми адопції та реабілітації,
                        спрямовані
                        на знаходження нових домів для тварин і, за потреби, допомогу у пристосуванні їх до нового
                        середовища.
                    </li>
                </ol>
                <p>
                    Ці стандарти часто регулюються законодавством і контролюються відповідними місцевими органами чи
                    організаціями з прав захисту тварин.
                </p>
            </div>

        </div>

        <h1 class="text-align-center">Що робити, якщо знайшли тварину на вулиці</h1>
        <div class="petstandart-item page-padding">
            <div class="petstandart-row-2-col">
                <img class="petstandart-img" src="/main-page-photo/steets_pets.jpg" alt="">

                <div class="petstandart-text">
                    <p>
                        Якщо ви знайшли тварину на вулиці, ось кілька кроків, які варто виконати:<br>
                    <ol>
                        <li>
                            Збережіть спокій: Тварини можуть бути налякані, особливо якщо вони загубилися або заблукали.
                            Спробуйте підійти до них обережно і безпечно.
                        </li>
                        <li>
                            Перевірте наявність власника: Подивіться, чи на тварині є ошийник з контактною інформацією
                            власника.
                            Якщо так, зателефонуйте або зверніться за вказаним номером.
                        </li>
                        <li>
                            Викличте ветеринара: Якщо тварина має вигляд пораненої або хворої, вам може знадобитися
                            допомога
                            ветеринара. Спробуйте знайти місцевого ветеринара або організацію захисту тварин.
                        </li>
                        <li>
                            Повідомте місцеві організації захисту тварин: Якщо ви не можете знайти власника або тварина
                            потребує
                            допомоги, зв'яжіться з місцевим притулком для тварин або іншою організацією захисту тварин.
                            Вони
                            можуть допомогти знайти власника або забезпечити догляд за твариною.
                        </li>
                    </ol>
                    </p>
                </div>

            </div>
            <div class="petstandart-row">
                    <ol start="5">
                        <li>
                            Залиште свої контактні дані: Якщо ви не можете залишити тварину з собою, залиште свої
                            контактні
                            дані
                            з місцевими організаціями захисту тварин або ветеринаром, щоб вас можна було зв'язати у разі
                            потреби.
                        </li>

                    </ol>
                    <p>
                        Найважливіше - залишатися обачним та співчутливим у стосунках з тваринами.
                    </p>
                </div>
        </div>

        <h1 class="text-align-center">Правила адоптації</h1>
        <div class="petstandart-item page-padding">
            <div class="petstandart-row-2-col">
                <img class="petstandart-img" src="/main-page-photo/rules.jpg" alt="">
                <div class="petstandart-text">
                    <p>
                        ✓Тварини віддаються лише майбутнім господарям✓Всі Тварини віддаються як друзі та компаньйони для
                        сімейного життя✓Всі Тварини віддаються на умовах Договору✓Обов'язкова стерилізація за віком✓Для
                        котів: наявність сіток на вікнах (антикот)✓Якщо у вас є інші тварини будинку, вони повинні бути
                        щеплені та стерилізовані<br><br>
                        ❗Тварини НЕ віддаються на подарунок, як іграшки, родичам або знайоми<br>
                        ❗Тварини НЕ віддаються на підприємства, на ланцюг, охорону, полювання<br>
                        ❗Тварини НЕ віддаються особам молодше 21 року та старше 65-70 років<br>
                        Попередній Опікун (Притулок) має право:<br><br>
                    </p>
                </div>
            </div>
            <div class="petstandart-row">
                <p>
                    ✓Здійснювати періодичний контроль за умовами утримання тварин/ни<br>
                        ✓При виявленні жорстокого поводження
                        з твариною/і з боку Нового Опікуна/Господаря або членів його сім'ї, звернутися для вирішення
                        цього
                        питання до правоохоронних органів та вимагати негайного повернення Тварин/ни<br>
                        ✓ Вимагати повернення тварин/ни протягом доби з моменту поставленої вимоги, у разі невиконання
                        або
                        неналежного виконання
                        умов договору з боку Нового Опікуна/Господаря<br>
                        ✓Новий Опікун/Господар повинен дотримуватися обов'язків
                        за договором<br>
                    Як взяти тварину?<br>
                <ol>
                    <li> Співбесіда з куратором тварини</li>
                    <li>Особисте знайомства з хвостиком</li>
                    <li>Підготувати дім до появи нового члена родини (ми з радістю проконсультуємо, що потрібно)</li>
                    <li>Підписати договір з нами</li>
                    <li>Транспортування в новий дім (бажано на авто)</li>
                    <li>Зробити QR-паспорт для тварин/ни</li>
                    <li>На протязі місяці підтримувати звʼязок з нами, а далі за бажанням</li>
                </ol>
                Важливо! Якщо з якоїсь причини ви не можете більше дбати про тварину - поверніть її назад в
                притулок. Викинути на вулицю чи передати третім особам - не розглядається.
                </p>
            </div>

        </div>

        <h1 class="text-align-center">Правила прийому тварин</h1>
        <div class="petstandart-item page-padding">
            <div class="content-col-3">
                <img class="food-img" src="/main-page-photo/R.jpg" alt="" />
                <img class="food-img" src="/main-page-photo/r2.jpg" alt="" />
                <img class="food-img" src="/main-page-photo/r3.jpg" alt="" />
            </div>
            <div>
                <p>
                    Наш притулок для тварин приймає за наявності вільних місць бездомних тварин (кішки,
                    собаки) на тимчасову перетримку.<br>
                    Мета діяльності притулку це виключно влаштування бездомних кішок та собак у сім'ї до людей.
                <ol>
                    <li>
                        Тварини приймаються до притулку на тимчасову перетримку на строк не більше 180 календарних днів.
                    </li>
                    <li>
                        Тварини приймаються на тимчасову перетримку під кураторство, тобто під відповідальність особи,
                        яка принесла тварину у притулок на перетримку.</li>
                    <li>
                        Куратор тварини забезпечує повне фінансування та утримання тварини у притулку на період
                        тимчасової перетримки, за рахунок благодійного внеску до притулку з розрахунку 50 грн на день.
                    </li>
                    <li>
                        Куратор забезпечує повне фінансування ветеринарних витрат як обов'язкових (щеплення, обробка від
                        бліх, глистів, стерилізація/кастрація тощо), так і при хворобі тварини, включаючи при потребі її
                        госпіталізацію до ветеринарної клініки.</li>
                    <li>
                        Притулок прикладає всі зусилля, щоб влаштуванням тварину в сім'ю.
                    </li>
                    <li>
                        Куратор також займається пошуком нової сім'ї для тварини.
                    </li>
                    <li>
                        Після закінчення 180 днів якщо тварина не забрана в сім'ю, куратор зобов'язується забрати
                        тварину
                        з притулку або переукласти угоду про тимчасову перетримку на 180 днів.
                    </li>
                    <li>
                        Притулок має право відмовити в тимчасовій перетримці, якщо тварина хвора, агресивна, дика або не
                        соціалізована.
                    </li>
                </ol>
                У будь-якому разі, перш ніж вести тварину до притулку - дзвоніть нам для співбесіди за номером: +380
                50 337 89 35
                </p>
            </div>
        </div>

    </main>


    <footer>
        <div class="footer-top-part page-padding">
            <div class="footer-logo-section">
                <div class="footer-logo-wrapper">
                    <img class="footer-logo-img" src="/main-page-photo/label.png" alt="">
                    <h3 class="footer-logo-heading">Піклуємося<br>
                        любимо<br>
                        даруємо радість!</h3>
                </div>
                <p class="footer-logo-label">PetGuardians - бережемо братів
                    наших менших!</p>
            </div>

            <div class="footer-links-wrapper">
                <nav class="footer-navigation">
                    <h4>Навігація</h4>
                    <ul class="footer-menu">
                        <li><a href="/view/Main/">Головна</a></li>
                        <li><a href="/view/ChooseFriend/">Хочу друга</a></li>
                        <li><a href="/view/HowHelp/">Хочу допомогти</a></li>
                        <li><a href="/view/InterestingInfo/">Про нас</a></li>
                    </ul>
            </div>

            <div class="follow-us-section">
                <h4>Зв’яжись з нами</h4>
                <div class="follow-us-links">
                    <a href="https://web.telegram.org/"><img class="follow-icon tg" src="/main-page-photo/telegram.png" alt=""></a>
                    <a href="https://www.facebook.com/"><img class="follow-icon fb" src="/main-page-photo/facebook.png" alt=""></a>
                    <a href="https://www.instagram.com/"><img class="follow-icon ig" src="/main-page-photo/social.png" alt=""></a>
                </div>
            </div>
        </div>

        <div class="footer-bootom-part page-padding">
            <p class="bottom-text site-info">©2024 ztu_edu_ua_kw</p>
            <a class="bottom-text email" href="mailto:pet.guardians.club@gmail.com">pet.guardians.club@gmail.com</a>
            <a class="bottom-text phone" href="tel:+380503378935">+380 50 337 89
                35</p>
        </div>
    </footer>

    <script src="/script.js"></script>


</body>

</html>
